body {
    background-color: #130e1d;
    font-family: 'B612', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul {
    list-style-type: none;
}

.title-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.paragraph-text {
    color: white;
    font-weight: normal;
    font-size: 14px;
}

.circle {
    z-index: -1;
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: gold;
    opacity: .35;
    border-radius: 50%;
}

.fade-in {
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .35;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .35;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .35;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .35;
    }
}

@-ms-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: .35;
    }
}