body {
    background-color: #130e1d;
    color: white;
    font-family: 'B612', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* .circle {
    height: 22px;
    width: 22px;
    background-color: gold;
    border-radius: 50%;
} */